$color: gold;
$fontsize1: 20px;
$fontsize2: 30px;

@media (max-width: 699px) {
  body {
    background-image: url("blue-green-paint.jpg");
    background-size: cover;
  }
}
%message {
  font-family: "Times New Roman", Times, serif;
}

.success {
    @extend %message;
    background-color: green;
}

.warning {
    @extend %message;
    background-color: orange;
}

.error {
    @extend %message;
    background-color: red;
}
#top {
  @extend %message;
  text-align: center;
  font-size: $fontsize2;
}

#intro {
  @extend %message;
  font-size: $fontsize2;
  color: $color;
  background-color: lightskyblue;
  border: black solid 3px;
}
#gardening {
  @extend %message;
  color: $color;
  background-color: lightseagreen;
  border: black solid 3px;
}
#tv {
  @extend %message;
  color: $color;
  background-color: orangered;
  border: black solid 3px;
}
#books {
  @extend %message;
  color: $color;
  background-color: forestgreen;
  border: black solid 3px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

a {
  background-color: $color;
}

a:hover {
  background-color: coral;
}

a::after {
  content: "\21d2";
  font-weight: bold;
}

table {
  border: black solid 3px;
  border-collapse: collapse;
}

th, td {
  @extend %message;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  font-size: $fontsize1;
}

th {
  background-color: lightseagreen;
}

div {
  h1 {
    @extend %message;
  }
  ol li {
    @extend %message;
    font-size: $fontsize1;
  }

  ul>li {
    @extend %message;
    font-size: $fontsize1;
  }
  div div {
    @extend %message;
  }
}

footer {
  @extend %message;
}
